@import "tailwindcss";
@plugin "@tailwindcss/forms";

.form-checkbox, .form-radio, .form-select{
  border-color: transparent;
  border-radius: var(--radius-lg);
  color: white;
}
.form-select{
  background-color: var(--color-gray-700);
}
.form-checkbox:focus, .form-radio:focus, .form-select:focus{
  outline: none;
}
.form-checkbox, .form-radio{
  width: 1.5em;
  height: 1.5em;
  background-color: var(--color-gray-900);
}
.form-checkbox:checked, .form-radio:checked{
  background-color: var(--color-indigo-500);
}
.form-radio{
  border-radius: 1.5em;
}

.navButton{
  @apply block w-full sm:w-auto sm:inline-block bg-indigo-500 hover:bg-indigo-400 font-semibold text-white px-4 py-2 rounded-lg xl:block xl:w-full xl:my-2;
}
.ui-button{
  @apply px-5 py-3 inline-block rounded-lg text-white font-semibold tracking-wide uppercase w-full;
}